.banner { background-image: url(../img/index.png); background-repeat: no-repeat; height: 400px; width: 1000px; }
.servicebox { height: 200px; margin-top: 1em; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #999999; }
.servicebox div { float: left; width: 239px; padding: 5px; border-right-width: 1px; border-right-style: dashed; border-right-color: #999999; }
